# 数据类型

In [2]:
type('This is a string')

str

In [3]:
type(None)

NoneType

In [4]:
type(1)

int

In [5]:
type(1.0)

float

In [26]:
def add_numbers(x, y, z=None, flag=False):
    if (flag):
        print('Flag is true!')
    if (z==None):
        return x + y
    else:
        return x + y + z
    

print(add_numbers(1, 2))
print(add_numbers(1, 5, flag = True))


type(add_numbers)

3
Flag is true!
6

function

## 存储数据集合的类型：List, Tuple, Set, and Dictionary

### Tuples 介绍

1. 不可变。不能修改，增加或删除
2. 有序的
3. 允许重复元素存在

In [49]:
x = (1, 'a', 2, 'b')
print(len(x))
print('second element:' + x[1])
type(x)

4
second element:a

tuple

In [39]:
# 由于 tuple 不可变，所以会报错
x[0] = 2

### List 介绍

1. 可变
2. 有序的
3. 允许重复元素存在

In [50]:
x = [1, 'a', 2, 'b']
type(x)

list

In [41]:
x.append(3.3)
print(x)

[1, 'a', 2, 'b', 3.3]

In [42]:
for item in x:
    print(item)

1
a
2
b
3.3

In [45]:
i=0
while( i != len(x) ):
    print(x[i])
    i = i + 1

1
a
2
b
3.3

In [46]:
[1,2] + [3,4]

[1, 2, 3, 4]

In [47]:
[1]*3

[1, 1, 1]

In [48]:
5 in [1, 2, 3]

False

### Set 介绍

1. 不可变。不能修改，增加或删除
2. 无序的
3. 不允许重复元素存在
4. 不支持 indexing or slicing. 也就是说，只能遍历才能访问到它的元素

In [2]:
thisset = {"apple", "banana", 1, "apple"}
type(thisset)

set

In [5]:
for item in thisset:
    print(item)

banana
1
apple

### Dictionary 介绍

实际上就是一个 Map 结构

1. 可变
2. 有序的
3. 不允许重复元素存在

In [6]:
fdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
type(fdict)

dict

In [9]:
fdict["brand"]

'Ford'

In [23]:
fdict["brand"] = "Vincent"
fdict

{'brand': 'Vincent', 'model': 'Mustang', 'year': 1964}

In [24]:
for key in fdict:
    print(fdict[key])

Vincent
Mustang
1964

In [25]:
for value in fdict.values():
    print(value)

Vincent
Mustang
1964

In [26]:
for key, value in fdict.items():
    print(key)
    print(value)

brand
Vincent
model
Mustang
year
1964

## 字符串类型，本质上就是 char 的 tuple

In [19]:
x = 'This is a string'
print(x[0]) #first character
print(x[0:1]) #first character, but we have explicitly set the end character
print(x[0:2]) #first two characters
print('---------')
print(x[-1])
print(x[-4:-2])
print('---------')
print(x[:3])
print(x[3:])

T
T
Th
---------
g
ri
---------
Thi
s is a string

In [20]:
firstname = 'Christopher'
lastname = 'Brooks'

print(firstname + ' ' + lastname)
print(firstname * 3)
print('Chris' in firstname)

Christopher Brooks
ChristopherChristopherChristopher
True

In [21]:
firstname = 'Christopher Arthur Hansen Brooks'.split(' ') 
type(firstname)

list

In [22]:
lastname = 'Christopher Arthur Hansen Brooks'.split(' ')[-1] # [-1] selects the last element of the list
print(lastname)

Brooks

In [31]:
print('Chris' + str(2))

Chris2

In [32]:
sales_record = {
'price': 3.24,
'num_items': 4,
'person': 'Chris'}

sales_statement = '{} bought {} item(s) at a price of {} each for a total of {}'

print(sales_statement.format(sales_record['person'],
                             sales_record['num_items'],
                             sales_record['price'],
                             sales_record['num_items']*sales_record['price']))

Chris bought 4 item(s) at a price of 3.24 each for a total of 12.96

## 日期类型

In [1]:
import datetime as dt
import time as tm

In [2]:
tm.time() # timestamp： returns the current time in seconds since the Epoch. (January 1st, 1970)

1626766519.0526917

In [10]:
dtnow = dt.datetime.fromtimestamp(tm.time())
print(dtnow)
dtnow.year, dtnow.month, dtnow.day, dtnow.hour, dtnow.minute, dtnow.second

2021-07-20 07:38:38.763156

(2021, 7, 20, 7, 38, 38)

In [22]:
# 支持的参数：days, seconds, microseconds, milliseconds, minutes, hours, weeks
delta = dt.timedelta(weeks = 2) # create a timedelta of 2 weeks
print(type(delta))

today = dt.date.today()
print(today)

print(today - delta) # 2 周前

<class 'datetime.timedelta'>
2021-07-20
2021-07-06

In [21]:
today > today-delta # compare dates

True

## 对象, Map() 函数，lambda 表达式，List Comprehensions

1、面向对象的特性对于数据科学的应用来说并不是很重要，知道有这个特点，能看懂代码就行

2、map 函数的语法：map(fun, iter, ...). 说的更直白一点，map 函数实际上就是把集合中的每个元素传递到指定的函数做处理。返回的对象还是一个

3、lambda 表达式可以类比成匿名函数，没有函数名，简化代码用的，用一行代码就可以写出一个函数。

4、List comprehension：提供一个更简洁的语法，当你想要 create a new list based on the values of an existing list.

语法是：newlist = [expression for item in iterable if condition == True]

如果 condition 成立，把这个元素应用到 expression 中。

### 对象

In [25]:
class Person:
    department = 'School of Information' #a class variable

    def set_name(self, new_name): #a method
        self.name = new_name
    def set_location(self, new_location):
        self.location = new_location

In [26]:
person = Person()
person.set_name('Christopher Brooks')
person.set_location('Ann Arbor, MI, USA')
print('{} live in {} and works in the department {}'.format(person.name, person.location, person.department))

Christopher Brooks live in Ann Arbor, MI, USA and works in the department School of Information

### Map 函数

In [8]:
def add(x, y):
    return x + y

numbers1 = [1, 2, 3]
numbers2 = [4, 5, 6]

result = map(add, numbers1, numbers2)
print(type(result))
print(list(result))

<class 'map'>
[5, 7, 9]

### 用 lambda 表达式简化上面的函数

In [9]:
numbers1 = [1, 2, 3]
numbers2 = [4, 5, 6]

result = map(lambda x, y: x + y, numbers1, numbers2)
print(list(result))

[5, 7, 9]

### 原始写法

In [10]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

### List Comprehensions 简化上面的写法

In [15]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [fruit for fruit in fruits if "a" in fruit]

print(newlist)

['apple', 'banana', 'mango']